.panel{
  overflow-x: hidden;
}

.container{
  width: 95% !important;
}

.imgClass{
  max-height: 20vh;
}

.entry{
  padding: 2px;
}

.comp, .mg{
  border: 1px solid black;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
  cursor:pointer;
  color: black;
  margin-left: 2px;
}

.comp{
  background-color: rgba(200, 200, 200, 0.6);
}

.mg{
  background-color: rgba(253, 228, 161, 0.712);
}

.comp:hover, .mg:hover{
  text-decoration: none;
  background-color: white;
}

#backButtonHolder{
  position: absolute; /* Stay in place */
  margin: 1em;
  z-index: 2; /* Sit on top */
  top: 4px;
  left: 4px;
}

body{
  background-image: url("bg.jpg");
  background-attachment: fixed;
  background-size: 100%;
  width: 100%;
  overflow-x: hidden;
}

#header{
  margin-top: 2em;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid #bbb;
  border-top: 1px solid white;

}

#copyright{
  color: #555;
  font-size: 1em;
}

#notification{
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  height: 3em;
  left: 0;
  top: 50vh;
  overflow: hidden;
  background-color: black;
  pointer-events: none;
}

#notificationText{
  padding-top: 4px;
  color: white;
  font-weight: 400;
  font-size: 1.5em;
}

.showNotification{
  opacity: 0.8;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hideNotification{
  opacity: 0;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

/**
CUSTOM CLASSES
**/
.clickLink{
  cursor: pointer;
  color: #337ab7;
}

.clickLink :hover{
  text-decoration: underline;
}

p{
  color: #444;
}

.loading{
  font-size: 2em;
  color: #888;
}

.loading > span{
  font-size: 0.5em;
}


@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
